[submodule "testing/lib/forge-std"]
	path = testing/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "testing/lib/openzeppelin-contracts"]
	path = testing/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "testing/lib/solmate"]
	path = testing/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "testing/lib/v2-core"]
	path = testing/lib/v2-core
	url = https://github.com/Uniswap/v2-core
